.blue-flag{
    color: blue;
}

.location-info{
    text-align: center;
    font-style: italic;
    font-size: smaller;
}

.met-eireann-warnings{
    text-align: center;
    font-size: smaller;
}

.markdown-body h1 {
    border-bottom: none;
}

.yellow-warning{
    color: rgba(255, 255, 0, 0.842);
}

.orange-warning{
    color: orange;
}

.red-warning{
    color: red;
}

.tide-and-sun-table>thead{
    display: none;
}

h1:not(.h1-display){
    display:none;
}